PORT=3200
FIREBASE_PROJECT_ID=dv-car-service-india
GOOGLE_APPLICATION_CREDENTIALS=/etc/dvcs/firebase-admin.json
COMMUNICATION_CREDENTIAL_MASTER_KEY=GENERATE_WITH_OPENSSL_RAND_BASE64_32
REQUIRE_APP_CHECK=true
